*{
	font-family: 'Montserrat', sans-serif
}

body{

	background: lightblue;
}

h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

a{
	text-decoration: none;
	color: grey;
}

.cont{
	margin: auto;
	height: 45px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	font-size: 18px;

}

.science{
	height: 400px;
	width: 400px;
}